body {
  font-family: 'Lato', serif;
  letter-spacing: 1px;
  font-size: 12px; }

body {
  overflow: hidden; }

/*Util macros*/
/************************** LAYOUT ************************************/
/*MAIN WRAPPER*/
/*GENERIC CONTAINER*/
/*HEADER WRAPPER*/
.mainWrapper {
  width: 100%;
  height: 1000px;
  border: 1px solid black; }

.headerWrapper {
  width: 100%;
  height: auto;
  border: 1px solid black;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px; }
  .headerWrapper .contactWrapper {
    width: 100%;
    border: 1px solid black;
    float: left; }
    .headerWrapper .contactWrapper .contact {
      width: 90%;
      min-width: 600px;
      height: 20px;
      margin: auto;
      border: 1px solid black; }
  .headerWrapper .headerContainer {
    margin: auto;
    width: 90%;
    min-width: 600px;
    height: auto;
    border: 1px solid black; }
    .headerWrapper .headerContainer .logo {
      width: 200px;
      height: 50px;
      float: left;
      display: table;
      border: 1px solid black; }
      .headerWrapper .headerContainer .logo .logoImg {
        width: 50px;
        height: 50px;
        display: table-cell;
        border: 1px solid black;
        float: left; }
      .headerWrapper .headerContainer .logo .logoText {
        width: auto;
        height: 50px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border: 1px solid black;
        float: right; }
    .headerWrapper .headerContainer .navMenu {
      width: auto;
      height: 50px;
      float: right;
      border: 1px solid black; }
  .headerWrapper .subMenuWrapper {
    width: 100%;
    border: 1px solid black;
    float: left; }
    .headerWrapper .subMenuWrapper .subMenu {
      width: 90%;
      min-width: 600px;
      height: 20px;
      margin: auto;
      border: 1px solid black; }

/** NAV MENU  **/
/*li width*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table; }
nav li {
  display: table-cell;
  width: 100px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid black; }
nav a {
  display: block;
  text-transform: uppercase;
  text-decoration: none; }
