/** NAV MENU  **/

/*li width*/
$liWidth: 100px;

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
  }

  li { 
      display:table-cell;
      width: $liWidth;
      height: $navHeight;
      vertical-align: middle; 
      text-align: center; 
      border: $borderBlack; 
  }

  a {
    display: block;
    text-transform:uppercase;
    text-decoration: none;
  }
}