/*Util macros*/
$borderBlack: 1px solid #000;

/************************** LAYOUT ************************************/

/*MAIN WRAPPER*/
$wrapperWidth:100%;
$wrapperHeight:1000px;

/*GENERIC CONTAINER*/
$containerWidth: 90%;
$containerHeight: 100%;
$containerMinWidth: 800px;

/*HEADER WRAPPER*/
$headerHeight: 100px;

$contactWidth: 100%;
$contactHeight: 20px;

$logoWidth: 200px;
$navWidth: 600px;

$subMenuWidth: 100%;
$subMenuHeight: 20px;


.mainWrapper {
    width: $wrapperWidth;
    height: $wrapperHeight;
    border: $borderBlack;
}

.headerWrapper
    {
        width: $wrapperWidth;
        height: $headerHeight;
        border: $borderBlack;
        text-align: center;
        position: fixed;
        top:0px;
        left:0px;
        
        .headerContainer
        {
            margin: auto;
            width: $containerWidth;
            min-width: $containerMinWidth;
            height: $headerHeight;
            border: $borderBlack;
            
            .contact
            {
                width:$contactWidth;
                height: $contactHeight;
                border: $borderBlack;
            }

            
            .logo
            {
                width: $logoWidth;
                height: $headerHeight;
                float: left;
                border: $borderBlack;
            }
            
            .navMenu
            {
                width: $navWidth;
                height: $headerHeight;
                float: right;
                border: $borderBlack;
            }
            
            .subMenu
            {
                width: $subMenuWidth;   
                height: $subMenuHeight;
                float: left;
                border: $borderBlack;
            }
        }
    }

@import 'navMenu'

