@import 'typography';

body
{
    overflow: hidden;
    background-color: #FFFFFF;
    margin:0; 
    padding-bottom: 0;

}

/*Util macros*/
$borderBlack: 1px solid #fff;


/************************** LAYOUT ************************************/


/*MAIN WRAPPER*/
$wrapperWidth:100%;
$wrapperHeight:1000px;

/*GENERIC CONTAINER*/
$containerWidth: 90%;
$containerHeight: 100%;

/*HEADER WRAPPER*/

$contactWidth: 90%;
$contactHeight: 20px;

$logoWidth: 200px;
$navWidth: 400px;
$navHeight: 50px;

$subMenuWidth: 90%;
$subMenuHeight: 20px;


$containerMinWidth: $logoWidth + $navWidth;


.mainWrapper {
    width: $wrapperWidth;
    height: $wrapperHeight;
    background-color: #313740;
}

.headerWrapper
    {
        width: $wrapperWidth;
        height: auto;
        border: $borderBlack;
        text-align: center;
        position: fixed;
        top:0px;
        left:0px;
        display: none;
        
        .contactWrapper
        {
            width:$wrapperWidth;
            border: $borderBlack;
            float:left;
            .contact
            {
                width: $contactWidth;
                min-width: $containerMinWidth;
                height: $contactHeight;
                margin: auto;
                border: $borderBlack;
            }
        }
        
        .headerContainer
        {
            margin: auto;
            width: $containerWidth;
            min-width: $containerMinWidth;
            height: auto;
            border: $borderBlack;
            
            .logo
            {
                width: $logoWidth;
                height: $navHeight;
                float: left;
                display: table;
                 
                border: $borderBlack;
                .logoImg
                {
                    width:50px;
                    height: $navHeight;
                    display: table-cell;
                    border: $borderBlack;
                    float:left;
                }
                .logoText
                {
                    width:auto;
                    height: $navHeight;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    border: $borderBlack;
                    float: right;
                }
            }
            
            .navMenu
            {
                width: auto;
                height: $navHeight;
                float: right;
                border: $borderBlack;
            }
        }
        .subMenuWrapper
        {
            width: $wrapperWidth;
            border: $borderBlack;
            float:left;
            .subMenu
            {
                width: $subMenuWidth;
                min-width: $containerMinWidth;
                height: $subMenuHeight;
                margin: auto;
                border: $borderBlack;
            }
        }
    }

@import 'navMenu';
@import 'slide0';

